<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    

</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">HOSPITAL</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1>HOSPITAL <br><span>MANAGEMENT</span> <br>SYSTEM</h1>
            <p class="par">Welcome to [Hospital Name], where advanced medical care meets compassionate service.<br>
                 Our team of expert healthcare professionals is dedicated to providing comprehensive,<br> patient-centered care with state-of-the-art facilities. 
                We are committed to improving lives through <br>innovation, empathy, and excellence in healthcare.</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                
                    

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>